

:root{
    --primary:#C3073F;
    --dark:#1A1A1D;
    --pure:#FFFFFF;
    --ternary:#4E4E50;
    --light:#F2F2F2;
    --secondry:#070606;

}
section.header1{
    background-color: var(--secondry);
    padding: 1rem;
    position:fixed;
    width:100vh;
    z-index:1001;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

nav ul li{
    list-style-type: none;
}
nav ul li a{
    font-family: 'Poppins',serif;
    text-decoration: none;
    font-size:1rem;
    color: var(--primary);
    font-weight: 700;
}

nav ul li a:hover{
    color: var(--pure);
}
section.result{
    background-color: var(--secondry);
}

section.result .tournament-img{
    border: var(--ternary) 5px solid;
    border-radius:12px;
    margin-top: 2rem;
    background-color: var(--light);

}


section.result .tournament-img img{
    width: 100%;
}
section.result .tournament-img h3{
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary);
    padding: 0.8rem;
    font-family: 'Poppins',serif;
    font-weight: 500;
    border-bottom:var(--ternary) 3px solid;
}

.headings{
    color:var(--pure);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.headings span {
color: var(--primary);
}
