.my-projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project {
    background-color: var(--pure);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease;
    justify-content: center;
    align-items: center;
    max-width: 650px;
}

.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
    flex: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.project-image {
    flex: 50%;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.project-description {
    flex: 50%;
    margin-bottom: 20px;
    color: #666;
}

.project-description p {
    margin-top: 0;
}

.project-link {
    color: #007bff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}