.oot{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;

}

:root{
    --primary:#C3073F;
    --dark:#1A1A1D;
    --pure:#FFFFFF;
    --ternary:#4E4E50;
    --light:#F2F2F2;
    --secondry:#070606;

}
.grid{
    display: grid;
}
.flex{
    display: flex;
}

.center{
    align-items: center;
}

.between{
    justify-content: space-between;
}

.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    background-color:var(--primary);
    color: var(--dark);
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.text-center{
    text-align: center;
}

.btn-secondry{
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondry:hover{
    background-color: var(--primary);
    color: var(--dark);
}

.flex1{
    flex: 1;
}

.jus-center{
    justify-content: center;
}

